#gallery {
    width: 1680px;
    height: 1109px;
    border: 5px solid chartreuse;
    margin: 0 auto;
    /*overflow: hidden;*/
    text-align: center;
}
#photos{
    background: #ff7518;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}
#left{
    padding: 5px;
    width: 150px;
    height: 50px;
    border: 1px solid chartreuse;
    border-radius:25px ;
}
#right{
    padding: 5px;
    width: 150px;
    height: 50px;
    border: 1px solid chartreuse;
    border-radius:25px ;
}
